body{
  background-image: url("periodic.jpg");
  background-repeat:no-repeat;
  background-size:100% 110%;
}
.center{
  text-align:center;
  color:red;
}
table.tab1
{
border-style:none;
}
td.type1
{
background-color:orange;
}
td.type2
{
background-color:dimgray;
color:white;
}
td.type3
{
background-color:skyblue;
}
td.type4
{
background-color:indianred;
color:white;
}
td.type5
{
background-color:yellow;
}
td.type6
{
background-color:saddlebrown;
color:white;
}
td.type7
{
background-color:indigo;
color:white;
}
td.type8
{
background-color:#fa3388;
color:white;
}
td.type9
{
background-color:green;
}
td.type10
{
background-color:orchid;
}
td.stype1
{
border-bottom-style:none;
border-top-style:none;
}
td.stype2
{
border-bottom-style:none;
border-top-style:none;
border-left-style:none;
}
div#detailed
{
background-color:lightgreen;
display:block;
margin-left:15%;

border-style:solid;
border-width:2px;
}